<div class="modal ">
	<div class="modal-dialog bookmark-modal">
			<div class="modal-content">
                                  <h4 class="modal-title">
					 <div>      
					       <span class="glyphicon glyphicon-asterisk">
					       </span> 
					 </div>      
				</h4>
				<div class="modal-header">
					<center>
					       <h4 class="modal-title">
                                                      Select bookmark:
				               </h4>
				        </center>
				        <data-ng-form name="create_bookmark" novalidate role="form" >
						<fieldset data-ng-disabled="form_disabled">
							<div ng-repeat = "bookmark in bookmarks">
							        <input   ng-click="setBookmark(bookmark.id)" type="radio" name="template" value="template">
							        <label class="massedit-saveAsTemplateRadio">{{bookmark.bookmarkname}}</label>
							        <br>
                                                         </div>
						</fieldset>
				       </data-ng-form>
				       <div>
					     <button type="button" class="btn btn-default" ng-click="cancel()"  >Cancel</button>
					     <button type="button" class="btn btn-default" ng-click="OK()"  >OK</button>
				       </div>
				 </div>
                        </div>
      </div>
</div>