<div class="modal">
	<div class="modal-dialog massedit-modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">
					       <span class="glyphicon glyphicon-asterisk">
					       </span>  
					       <img class="load-spinner" ng-show="loadingTracker.active()" src="/img/ajax-loader.gif"> </img>
				       </h4>
				   	<data-ng-form name="newRecord" novalidate role="form" >Add new record
						<fieldset data-ng-disabled="form_disabled">
							<!--  a-->
							 <div  class="form-group input-group-lg" ng-class="{true: 'has-error'}[changefield.value.$dirty && changefield.value.$invalid]">
								<label class="control-label" for="value" >PID</label>
								<input  ng-model="massedit.newPID" value = "" type="text" class="form-control" name="PID" id="value"  ng-keyup="hitEnter($event)" required>
							</div>
							<div ng-repeat = "field in massedit.changesFirst" class="form-group input-group-lg" ng-class="{true: 'has-error'}[changefield.value.$dirty && changefield.value.$invalid]">
								<label class="control-label" for="value">Value for field: {{field.field}} </label>
								<input  ng-model="massedit.newrecord[field.field]" value = "" type="text" class="form-control" name="{{field.field}}" id="value"  ng-keyup="hitEnter($event)" required>
							</div>
						</fieldset>
					</data-ng-form>
				   
				<div class="modal-footer">
					<button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
					<button type="button" class="btn btn-primary" ng-click="addValue()" ng-disabled="(collform.$dirty && collform.$invalid) || collform.$pristine || form_disabled">Set</button>
				</div>
			</div>
		</div>
      </div>