<div class="modal">
	<div class="modal-dialog massedit-modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">
					       <span class="glyphicon glyphicon-asterisk">
					       </span>  
					       <img class="load-spinner" ng-show="loadingTracker.active()" src="/img/ajax-loader.gif"> </img>
				       </h4>
				   	<data-ng-form name="templateLoad" novalidate role="form" > Please select the template to load:
						<fieldset data-ng-disabled="form_disabled">
					                       <div ng-repeat = "template in templates">
							               <input ng-click="setTemplateName(template)" type="radio" name="template" value="template">
							                  <label class="massedit-saveAsTemplateRadio">{{template}}</label>
							                  <br>
                                                                </div>
						</fieldset>
					</data-ng-form>
				   
				 <div class="modal-footer">
				         <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
				         <form class="btn  massedit-loadTemplateForm" action="/massedit" method="post" id="loadTemplate" >
                                                <input class="hidden" name="template" ng-model="massedit.templatename">
                                                <input ng-click="load.onSubmit($event)" class="massedit-loadTemplateButton" type="submit" value="Load" name="load">
                                         </form>
                                        
				</div>
			</div>
		</div>
      </div>