<div class="modal">
	<div class="modal-dialog massedit-modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">
					       <span class="glyphicon glyphicon-asterisk">
					       </span>  
					       <img class="load-spinner" ng-show="loadingTracker.active()" src="/img/ajax-loader.gif"> </img>
				       </h4>
				   	<data-ng-form name="templateDelete" novalidate role="form" > Select Massedit Templates for deletion:
						<fieldset data-ng-disabled="form_disabled">
					                         <div ng-repeat = "template in templates">
							               <input ng-click="forDeletion(template)" type="checkbox" name="fordeletion" value="{{template}}">
							                  <label class="massedit-saveAsTemplateRadio">{{template}}</label>
							                  <br>
                                                                </div>
						</fieldset>
					</data-ng-form>
				   
				<div class="modal-footer">
					<button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
					<button type="button" class="btn btn-primary" ng-click="delete(fordeletion)" ng-disabled="(collform.$dirty && collform.$invalid) || collform.$pristine || form_disabled">Delete</button>
				</div>
			</div>
		</div>
      </div>
</div>      