<div class="modal ">
        <div class="modal-dialog ">
                        <div class="modal-content">
                                  <h4 class="modal-title">
                                         <div>      
                                               <span class="glyphicon glyphicon-asterisk">
                                               </span> 
                                         </div>      
                                </h4>
                                <div class="modal-header">
                                        <center>
                                               <h4 class="modal-title">
                                                      Create new group
                                               </h4>
                                        </center>
                                
                                        <data-ng-form name="create_bookmark" novalidate role="form" >
                                                <fieldset data-ng-disabled="form_disabled">
                                                        
                                                         <div class="form-group input-group-lg" data-ng-class="{true: 'has-error'}[changefield.value.$dirty && changefield.value.$invalid]">
                                                                <label class="control-label" for="value">Name</label>
                                                                <input ng-model="group_name"  type="text" class="form-control" name="group_name" id="value"  ng-keyup="hitEnter($event, group_name)" required>
                                                        </div>
                                                </fieldset>
                                       </data-ng-form>
                                       <div>
                                             <button type="button" class="btn btn-default" data-ng-click="cancel()"  >Cancel</button>
                                             <button type="button" class="btn btn-default" data-ng-click="OK(group_name)"  >OK</button>
                                       </div>
                                 </div>
                        </div>
      </div>
</div>
