

	<nav ng-if="totalItems && current_user" id="control-panel" class="navbar navbar-default list-navbar">
	
			<div class="navbar-header">
			    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
			      <span class="sr-only">Toggle navigation</span>
			      <span class="icon-bar"></span>
			      <span class="icon-bar"></span>
			      <span class="icon-bar"></span>
			    </button>
		   	</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			      
			      <div class="navbar-form navbar-left">			      
			      
				      <div class="btn-group">
						  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
						    <span class="glyphicon glyphicon-flag flag" ng-class="{'flag-selected': selection.length > 0}" ></span> <span class="caret"></span>
						  </button>
						  <ul class="dropdown-menu" role="menu">
						    <li><a href="" data-ng-click="allGoldEverything(event);">All</a></li>
						    <li><a href="" data-ng-click="selectNone()">None</a></li>
						    <li><a href="" data-ng-click="selectVisible()">Visible</a></li>						    
						  </ul>						 
				      </div>
			      	
			      	  <div class="btn-group animate-if" ng-if="selection.length" >
						  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
						    Action <span class="caret"></span>
						  </button>
						  <ul class="dropdown-menu" role="menu">
						    <li><a href="" data-ng-click="createCollection()">Create collection</a></li>
						    <li class="disabled"><a href="" >Edit collection</a></li>
			                           <li><a href="" data-ng-click="addToCurrentBookmark()">Add to current bookmark</a></li>
						    <li><a href="" data-ng-click="addToBookmark()">Add to bookmark</a></li>
						    <li><a href="" data-ng-click="createBookmark()">Create new bookmark</a></li>
						    <li><a href="" data-ng-click="editBookmark()">Edit bookmarks</a></li>
						 </ul>
					  </div>								   
				  </div>				  
			      
	    	</div>
		
	</nav>		
	
	<div class="container-fluid">
		<div class="row">
	     	<div class="col-md-2">
	        	<span class="hits">{{totalItems}} hits</span>
	        </div>
	        <div class="col-md-8"><center><pagination total-items="totalItems" on-select-page="setPage(page)" page="currentPage" items-per-page="limit" max-size="maxSize" boundary-links="true" rotate="false" num-pages="numPages"></pagination></center></div>
	        <div class="col-md-2">
	        	<span class="pages">{{currentPage}} / {{numPages}}</span>
	        </div>                          
    	</div> 
	</div> 
	<table class="table">
	  <thead>
		  <tr>
		  	<th ng-if="current_user"><span class="grey" ng-if="selection.length">{{selection.length}}</span></th>
		  	<th>#</th>
		  	<th></th>
		  	<th>Id</th>
		    <th>Title</th>
		    <th></th>
		  </tr>
	  </thead>
	   <tbody ng-init="sortableOptions.disabled = !ownersObject" ui-sortable="sortableOptions" ng-model="objects_m" > 
		  <tr class="object-list" ng-repeat="object in objects_m">
		    <td ng-if="current_user"><span class="glyphicon glyphicon-flag flag" ng-class="{'flag-selected': selection.indexOf(object.pid) != -1}" data-ng-click="toggleObject(object.pid)"></span></td>		  
		  	<td><a href="" class="position-editable" data-url="{{baseurl}}/proxy/collection/{{pid}}/members/{{object.pid}}/order/" data-value="" data-name="position" data-type="text" data-pk="{{object.pid}}" data-title="New position">{{object.pos}}</a></td>
		  	<td><img src="https://{{baseurl}}/preview/{{object.pid}}///60" class="img-thumbnail" width="60" height="60" title="{{object.title}}" alt="{{object['uw.general.title']}}"></td>
		  	<td>
	  	              <div ng-switch on="object.cmodel">
	  			    <div ng-switch-when="cmodel:Collection">
	  				<!--<a href="/collection/{{object.pid}}" target="_blank">{{object.pid}}bbb</a>-->
	  				<a href='' data-ng-click="viewObject(object.pidExtended)"  class='object-view'>{{object.pid}} </a>
	  			    </div>
	  			    <div ng-switch-default>
	  				<a href='' data-ng-click="viewObject(object.pidExtended)" class='object-view'>{{object.pid}} </a>
	  			    </div>
	  		    </div>
	  	        </td>
	  	        <td>
	  		      <div ng-switch on="object.cmodel">
	  			    <div ng-switch-when="cmodel:Collection">
	  				<!-- <a href="/collection/{{object.pid}}" target="_blank">{{object.title}}</a> -->
	  				{{object.title}}
	  			    </div>
	  		            <div ng-switch-default>
	  				{{object.title}}
	  		            </div>
	  		     </div>
	  	       </td>
		       <td>
		            <a href="/uwmetadata_editor/{{object.pid}}"><i class="glyphicon glyphicon-pencil"></i></a>
		       </td>
		 </tr>	  
	  </tbody>
	</table>


