
/* The fixed navbar will overlay your other content, unless you add padding to the bottom of the <body>.  
body { padding-top: 70px; }
*/
#portal
{
	font-size: 1.3em;
	
}

#portal table {
	margin-left: 15px;
}

#portal a
{
	text-decoration: none;
	color: #990000;
}
#portal a:hover
{
	color:#ff7b00;
}
#portal tr
{
	vertical-align:top;
	height: 120px;
}

#portal .partner-logo {
	padding: 30px 0px 0px 0px;
}

#portal .partner-table {
	padding: 40px 0px 0px 0px;
	margin-left: 0px;
}

#portal .phaidra-org-img {
	border: solid 1px #aaaaaa;
	margin: 0px 0 0 10px;
}

#portal td
{
	padding-left: 6px;
	font-size: 0.9em;
}

#portal .one, .two, .three
{
		color:#ffffff;
		text-align: right;
		width:160px; height:20px;
		padding: 1px 5px 0px 5px;
margin-top: 5px;
	
}
#portal .one
{
		background-color:#006699;

}
#portal .two
{
		background-color:#990000;
}
#portal .three
{
	background-color:#eb690b;
		
}
#portal .portal-text {
	padding: 6px 0 0 17px;
}

.signin-btn {
	margin-right:20px;
}

.animate-show {
  line-height:20px;
  opacity:1;
  padding:10px;
  background:white;
}
 
.animate-show.ng-hide-add,
.animate-show.ng-hide-remove {
  display:block!important;
}
 
.animate-show.ng-hide-add.ng-hide-add-active,
.animate-show.ng-hide-remove.ng-hide-remove-active {
  -webkit-transition:all linear 0.5s;
  transition:all linear 0.5s;
}
 
.animate-show.ng-hide {
  line-height:0;
  opacity:0;
  padding:0 10px;
}

.navbar-brand {
	padding: 12.5px 15px;
}

.grey {
	color: #aaa;
}

#coll-desc {
	height: 100px;
}

/* mass edit begin*/

.massedit-button{
    padding: 0px 2px;
}  
.massedit-aplly-button{
   float:right;
}

.massedit-jobs-button{
  font-size: 14px !important;
  margin-top: 7px;
}

.massedit-worker-button{
  font-size: 14px !important;
}

.dropdown-menu-massedit{
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}
.massedit-modal-dialog{
    height: auto;
    max-height: 400px;
    overflow-x: hidden;
    width:85% !important;
}
.massedit-saveAsTemplateRadio{
    margin-left: 15px;
}
.bold{
   font-weight: bold;
}
.massedit-well1{
  height: 90px;
  padding: 0px;
}

.massedit-recordsperpage{
  margin-bottom: 66px;
}
.massedit-ul-recordsperpage{
  max-height: 140px;
  min-width: 100px;
}
.massedit-button-recordsperpage{
    color: #428bca;
}
.massedit-checkbox-title{
   margin-top: 8px !important; 
}
.massedit-id:hover{
    cursor: pointer;
}

.massedit-white, .massedit-green, .massedit-gray, .massedit-yellow, .massedit-orange, .massedit-red, .massedit-chartreuse, .massedit-worker-view{
   height: 30px;
   padding: 4px 8px;
}
.massedit-white{
  background-color: white;
  color: black;
}
.massedit-green{
  color: white;
  background-color: green;
  pointer-events: none;
  cursor: none; 
}
.massedit-gray{
  background-color: gray;
  color: white;
}
.massedit-yellow{
  background-color: yellow;
  color: black;
}
.massedit-orange{
  background-color: orange;
  color: white;
}
.massedit-red{
  background-color: red;
}
.massedit-chartreuse{
  color: black;
  background-color: #7FFF00;
}

.massedit-smal-font{
  font-size: 12px;
}
.massedit-no-hover{
  pointer-events: none;
  cursor: none;
}
.Massedit-link{
  margin-top: 15px;
  margin-left: 30px;
  float: left;
  color: #777;
  display: block;
}

/* mass edit end*/

.object-view{
  color: #333;
}

.placemark-name {
	margin: 20px 0;
}

.placemark-description {
	margin: 20px 0;
}
.angular-google-map-container { height: 400px; }

.class-breadcrumb {
    font-weight: 700;
}

.btn-view-right{
   float:right;
   margin-left: 36%;
}
.btn-view-left{
   float: left;
}
.btn-view-center{
   font-weight: bold;
}
.well.well-view {
  background: none;
  overflow: auto;
}
.well.well-edit{
   padding: 0px;
}
.view-image{
   float: left;
   width: 100%;
}
.view-container{
   width: 100%;
}
.tab-content{
  margin-top: 20px
}

/*
.view-collection{
  width: 30%;
  margin-right: 30px;
  float: left;
}
*/
/*
#ViewCtrl{
  margin-top: 34px;
}
*/


.view-navbar{
   padding-top: 7px;
   min-width: 290px;
}


.bookmark-modal{
    height: auto;
    max-height: 400px;
   /* overflow-x: hidden;*/
}

.add-to-bookmark-margin-top{
  margin-top: 20px;
}
/* templates  - modal*/
.modal-overflow-scroll{
  overflow: scroll !important;
}

.edit-attrs-modal-100{
  width: 100% !important;
}