<div class="modal">
          <div class="modal-dialog">
                      <div class="modal-content">
                                   <div class="modal-header">
                                              <h4 class="modal-title">Choose format</h4>
                                   </div>
                                   <div class="modal-body">
                                              <button type="button" class="btn btn-primary" ng-click="OK('uwmetadata')">UW Metadata</button>
                                              <button type="button" class="btn btn-primary" ng-click="OK('mods')">MODS</button>
                                              <button type="button" class="btn btn-default" ng-click="cancel()"  >Cancel</button>
                                   </div>
                      </div>
          </div>
</div>