<div class="modal">
	<div class="modal-dialog massedit-modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					 <h4 class="modal-title">
					       <span class="glyphicon glyphicon-asterisk">
					       </span>  
					       <img class="load-spinner" ng-show="loadingTracker.active()" src="/img/ajax-loader.gif"> </img>
				        </h4>
                                       <h3> Changes for PID: {{PID}}</h3>  
				        <table class="table table-bordered">
	                                       <thead>
	                                               <tr>
	                                                      <th>Field Name</th>
	                                                      <th>New value</th>
	                                               </tr>
	                                      </thead>
	                                      <tbody>
	                                              <tr ng-repeat="change in changes" >
	                                                    <th>{{change.field}}</th>
	                                                    <th>{{change.value}}</th>
	                                             </tr>
	                                      </tbody>
	                                </table>
				        <div class="modal-footer">
				                      <button type="button" class="btn btn-default" ng-click="close()">Close</button>
				        </div>
			      </div>
		      </div>
      </div>
</div>      