	<div bindonce bo-switch="child1.input_type">													
																
	        <div bo-switch-when="node">
				
				  <div bo-if="!child1.hide" class="panel panel-default">
									
	                <div class="panel-heading" phaidra-help phaidra-help-id="{{child1.help_id}}" tooltip-placement="left" tooltip-popup-delay='1500' tooltip-html-unsafe='{{default_helptext}}'>
	                  <h3 class="panel-title pull-left" bo-bind="child1.label"><span class="grey" bo-show="child1.ordered" bo-bind="child1.data_order"></span></h3>
	                  <span class="btn-group pull-right panel-btn-group">
	                  
	                  	<div class="input-group panel-input-group">
		                  	<select bo-if="!is_attribute && hasLangAttr(child1)" class="form-control" ng-model="child1.attributes[getLangAttrNodeIdx(child1)].ui_value" ng-options="k as v.en for (k,v) in languages" placeholder="in language">
								<option value="">-- choose --</option>
							</select>
		                    <div class="input-group-btn">
								<button bo-if="!(child1.repeatable == 0)" class="btn btn-default" ng-click="addNewElement(child1, parent1)"><span class="glyphicon glyphicon-plus"></span></button>
								<button bo-if="!(child1.repeatable == 0) && canDelete(child1, parent1)" class="btn btn-default" ng-click="deleteElement(child1, parent1)"><span class="glyphicon glyphicon-minus"></span></button>
								<button ng-if="!(child1.sequence == 1) && canUpElement(child1, parent1)" class="btn btn-default" ng-click="upElement(child1, parent1)"><span class="glyphicon glyphicon-chevron-up"></span></button>
								<button ng-if="!(child1.sequence == 1) && canDownElement(child1, parent1)" class="btn btn-default" ng-click="downElement(child1, parent1)" ><span class="glyphicon glyphicon-chevron-down"></span></button>								
								<button bo-if="child1.attributes" class="btn btn-default" ng-click="editAttributes(child1, fieldid)"><span class="glyphicon glyphicon-wrench"></span></button>
							</div>
						</div>
	                  
	                  </span>
	
	                  <div class="clearfix"></div>	                  
						
						<div data-bo-if="child1.attributes.length">
						   	<div>
							   	<span class="attr-view" data-ng-repeat="att in child1.attributes" ng-if="att.ui_value && (att.xmlname != 'lang')">{{att.label}}: {{att.ui_value}}</span>
						   	</div>
					   	</div>
					   	
	                </div>
	
	                <div class="panel-body">
	
	                    <!-- children fields of the field -->
	                    <ul data-bo-if="child1.children.length">
	                       <li data-ng-repeat="ch in child1.children" data-ng-init="fieldid = fieldid+(fieldid ? '_' : '')+child1.xmlname; parent1 = child1; child1 = ch; collapse_id = $id" data-ng-include="$('head base').attr('href')+'views/partials/mods/field_renderer.html'">ch1:{{ch}}</li>
	                    </ul>
	
	                </div>
	
	        	</div><!-- panel -->
	
	        </div><!-- switch node -->
								
			
	        <div bo-switch-default>	
	            <div title="{{fieldid}}" ng-if="!child1.hide" data-ng-hide="child1.hidden" data-ng-init="fieldid = fieldid+(fieldid ? '_' : '')+child1.xmlname; child = child1; parent = parent1; collapse_id = $id" data-ng-include="$('head base').attr('href') + 'views/partials/mods/' + child1.input_type + '.html'"></div>
	
	        </div><!-- switch default -->
	        
	        
	</div><!-- switch -->	
