<div class="modal">
	<div class="modal-dialog massedit-modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">
					       <span class="glyphicon glyphicon-asterisk">
					       </span>  
					       <img class="load-spinner" ng-show="loadingTracker.active()" src="/img/ajax-loader.gif"> </img>
				       </h4>
				   	<data-ng-form name="templateSave" novalidate role="form" > Save As New Massedit Template
						<fieldset data-ng-disabled="form_disabled">
							 <div  class="form-group input-group-lg" ng-class="{true: 'has-error'}[changefield.value.$dirty && changefield.value.$invalid]">
								<input  ng-model="massedit.templatename"  type="text" class="form-control" name="save" id="value"  ng-keyup="hitEnter($event)" required>
							</div>
                                                       <label class="control-label" for="value">Overwrite an Existing Massedit Template</label>	
					                          <div ng-repeat = "template in templates">
							               <input ng-click="setTemplateName(template)" type="radio" name="template" value="template">
							                  <label class="massedit-saveAsTemplateRadio">{{template}}</label>
							                  <br>
                                                                </div>
						</fieldset>
					</data-ng-form>
				   
				        <div class="modal-footer">
					     <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
					     <button type="button" class="btn btn-primary" ng-click="save()" ng-disabled="(collform.$dirty && collform.$invalid) || collform.$pristine || form_disabled">Save</button>
				       </div>
			    </div>
		     </div>
      </div>
</div>      