<div class="modal">
	<div class="modal-dialog">
			<div class="modal-content">
                                  <h4 class="modal-title">
					 <div>      
					       <span class="glyphicon glyphicon-asterisk">
					       </span> 
					 </div>      
				</h4>
				<div class="modal-header">
					<center>
					       <h4 class="modal-title">
                                                       {{text}}
				               </h4>	  
				        </center>
				 </div>
				 <div class="modal-footer">
					<button type="button" class="btn btn-default" ng-click="cancel()"  >Cancel</button>
					<button type="button" class="btn btn-default" ng-click="OK()" ng-keyup="hitEnter($event)" >OK</button>
				</div>
                        </div>
      </div>
</div>