<div bindonce class="container">
	<span bo-if="mode == 'edit_uwmeta'">
		<div class="class-panel" data-ng-repeat="tpath in selectBagClassificationNode().children" ng-if="tpath.xmlname == 'taxonpath' && tpath.children[0].ui_value != ''">
			
			<div class="class-panel-header" data-ng-repeat="elm in tpath.children" ng-if="elm.xmlname == 'source'">{{elm.value_labels.en}}</div>
			<span class="pull-left">
				<a href="#tax_collapse{{$index}}" data-toggle="collapse">{{tpath.children[tpath.children.length-1].value_labels.labels.en}}</a>
				<span id="tax_collapse{{$index}}" class="collapse">
					<ol class="breadcrumb class-breadcrumb">
					  	<li data-ng-repeat="elm in tpath.children" ng-if="elm.xmlname == 'taxon'">{{elm.value_labels.labels.en}}</li>
					</ol>
				</span>
			</span>
			<span class="btn-group pull-right class-panel-buttons">
			    <button class="btn btn-default" ng-click="toggleClassification(tpath.children[tpath.children.length-1].ui_value)"><span class="glyphicon glyphicon-star star-class" ng-class="{'star-class-fav': isMyClass(tpath.children[tpath.children.length-1].ui_value)}"></span></button>
			    <button class="btn btn-primary" ng-click="removeClassFromObject($index)"><span class="glyphicon glyphicon-minus-sign"></span></button>
			</span>
			<div class="clearfix"></div>
		</div>
	</span>
	<span bo-if="mode == 'edit_mods'">
		<div class="class-panel" data-ng-repeat="item in mods_classes">
			<div class="class-panel-header">{{item.classification.en}}</div>
			<span class="pull-left">
				<strong>{{item.labels.en}}</strong> <small>{{item.upstream_identifier}}</small>
			</span>
			<span class="btn-group pull-right class-panel-buttons">
			  <button class="btn btn-primary" ng-click="removeClassFromObject($index)"><span class="glyphicon glyphicon-minus-sign"></span> Remove and save</button>
			</span>
			<div class="clearfix"></div>
		</div>
	</span>
	<span bo-if="mode == 'edit_uwmeta2'">
		<div class="class-panel" data-ng-repeat="item in uwmeta_classes">
			<div class="class-panel-header">{{item.classification.en}}</div>
			<span class="pull-left">
				<strong>{{item.labels.en}}</strong> <small>{{item.upstream_identifier}}</small>
			</span>
			<span class="btn-group pull-right class-panel-buttons">
			  <button class="btn btn-primary" ng-click="removeClassFromObject($index)"><span class="glyphicon glyphicon-minus-sign"></span> Remove and save</button>
			</span>
			<div class="clearfix"></div>
		</div>
	</span>
	

	<tabset>

		<tab>
			<tab-heading>
		   		<span>Choose</span>
		   	</tab-heading>

		   		<ui-select ng-model="selectedmyclass.selected" theme="bootstrap" class="myclass-select">
			    	<ui-select-match placeholder="Select or search a classification in the list...">{{$select.selected.labels.en}}</ui-select-match>
				    	<ui-select-choices repeat="item in myclasses | filter: $select.search">
				        <strong><div ng-bind-html="item.labels.en | highlight: $select.search"></div></strong>
				        <small ng-bind-html="item.classification.en | highlight: $select.search"></small> /
				        <small ng-bind-html="item.upstream_identifier | highlight: $select.search"></small>
				    </ui-select-choices>
			   	</ui-select>

			   	<div class="panel panel-default" data-ng-if="selectedmyclass.selected.uri">
					  <div class="panel-heading">
					    <h3 class="panel-title pull-left">{{selectedmyclass.selected.labels.en}}</h3>
					    <span class="btn-group pull-right">
						    <button class="btn btn-default"  ng-if="selectedmyclass.selected.type == 'user'" ng-click="toggleClassification(selectedmyclass.selected.uri)"><span class="glyphicon glyphicon-star star-class" ng-class="{'star-class-fav': isMyClass(selectedmyclass.selected.uri)}"></span></button>
						    <button class="btn btn-success" ng-click="addClassToObjectFromTaxon(selectedmyclass.selected.uri)"><span class="glyphicon glyphicon-plus-sign"></span></button>
					    </span>
					    <div class="clearfix"></div>
					  </div>
					  <div class="panel-body" data-ng-if="selectedmyclass.selected.nonpreferred.length > 0">
					    <dl class="dl-horizontal" >
						  <dt>Non-preferred labels</dt>
						  <dd data-ng-repeat="term in selectedmyclass.selected.nonpreferred" >{{term.labels.en}}</dd>
						</dl>
					  </div>
					</div>

		</tab>


		<tab>
			<tab-heading>
		   		<span>Browse</span>
		   	</tab-heading>


			<accordion close-others="false">
				<accordion-group heading="{{class.labels.en}}" data-ng-repeat="class in class_roots" data-ng-click="browse_class_opened(class)">

					<ui-select class="classification-select" data-ng-model="level.selected" theme="bootstrap" on-select="update_current_path($item, $model, class, $index)" data-ng-repeat="level in class.current_path">
					  <ui-select-match placeholder="Select or search a classification in the list...">{{level.selected.labels.en}} <small class="text-muted">{{level.selected.upstream_identifier}}</small></ui-select-match>
					  <ui-select-choices repeat="term in level.terms | filter: $select.search">
						<div data-ng-bind-html="term.labels.en | highlight: $select.search"></div>
						<small data-ng-bind-html="term.upstream_identifier | highlight: $select.search" tooltip="Upstream ID"></small>
					  </ui-select-choices>
					</ui-select>

					<div class="panel panel-default" data-ng-if="lastSelectedTaxons[class.uri].uri">
					  <div class="panel-heading">
					    <h3 class="panel-title pull-left">{{lastSelectedTaxons[class.uri].labels.en}}</h3>
					    <span class="btn-group pull-right">
						    <button class="btn btn-default" ng-click="toggleClassification(lastSelectedTaxons[class.uri].uri)"><span class="glyphicon glyphicon-star star-class" ng-class="{'star-class-fav': isMyClass(lastSelectedTaxons[class.uri].uri)}"></span></button>
						    <button class="btn btn-success" ng-click="addClassToObject(class)"><span class="glyphicon glyphicon-plus-sign"></span></button>
					    </span>
					    <div class="clearfix"></div>
					  </div>
					  <div class="panel-body" data-ng-if="lastSelectedTaxons[class.uri].nonpreferred.length > 0">
					    <dl class="dl-horizontal" >
						  <dt>Non-preferred labels</dt>
						  <dd data-ng-repeat="term in lastSelectedTaxons[class.uri].nonpreferred" >{{term.labels.en}}</dd>
						</dl>
					  </div>
					</div>

				</accordion-group>
			</accordion>


		</tab>

		<tab>
			<tab-heading>
		   		<span>Search</span>
		   	</tab-heading>

		   	<div class="input-group class-search-form">
	          <input type="text" class="form-control" ng-model="class_search.query" placeholder="Search" ng-keyup="hitEnterSearch($event)">
	          <div class="input-group-btn">
	        	<button class="btn btn-default" type="submit" ng-click="search(class_search.query)"><i class="glyphicon glyphicon-search"></i></button>
	          </div>
	        </div>

		   	<accordion close-others="false">
				<accordion-group data-ng-repeat="class in searchclasses">
					<accordion-heading><span class="label label-default pull-right" ng-class="{'label-primary': class.hits > 0}">{{class.hits}}</span> {{class.labels.en}} <small data-ng-if="class.hits > 49" class="text-danger">Too many results, please narrow your query</small></accordion-heading>

					<div class="panel panel-default" data-ng-if="term.uri" data-ng-repeat="term in class.terms">
					  <div class="panel-heading">
					    <h3 class="panel-title pull-left">{{term.labels.en}} <small class="text-muted"><span data-ng-if="term.preferred">Preferred</span><span data-ng-if="term.preferred == 0">Non-preferred</span></small></h3>
					    <span class="btn-group pull-right">
						    <button class="btn btn-default" ng-click="toggleClassification(term.uri)"><span class="glyphicon glyphicon-star star-class" ng-class="{'star-class-fav': isMyClass(term.uri)}"></span></button>
						    <button class="btn btn-success" ng-click="addClassToObjectFromTaxon(term.uri)"><span class="glyphicon glyphicon-plus-sign"></span></button>
					    </span>
					    <div class="clearfix"></div>
					  </div>
					</div>

				</accordion-group>
			</accordion>

		</tab>
	</tabset>

</div>
