		  <tr class="object-list" ng-repeat="object in objects">
		    <td ng-if="current_user"><span class="glyphicon glyphicon-flag flag" ng-class="{'flag-selected': selection.indexOf(object.pid) != -1}" data-ng-click="toggleObject(object.pid)"></span></td>		  
		  	<td><a href="" class="position-editable" data-url="{{baseurl}}/proxy/collection/{{pid}}/members/{{object.pid}}/order/" data-value="" data-name="position" data-type="text" data-pk="{{object.pid}}" data-title="New position">{{object.pos}}</a></td>
		  	<td><img src="https://<%= $config->{phaidra}->{baseurl} %>/preview/{{object.pid}}///60" class="img-thumbnail" width="60" height="60" title="{{object.title}}" alt="{{object['uw.general.title']}}"></td>
		  	<td>
	  	
	  	<div ng-switch on="object.cmodel">
	  			    <div ng-switch-when="cmodel:Collection">
	  				<a href="/collection/{{object.pid}}" target="_blank">{{object.pid}}</a>	
	  			    </div>
	  			    <div ng-switch-default>
	  				{{object.pid}}
	  			    </div>
	  		    </div>
	  	        </td>
	  	        <td>
	  		      <div ng-switch on="object.cmodel">
	  			    <div ng-switch-when="cmodel:Collection">
	  				<a href="/collection/{{object.pid}}" target="_blank">{{object.title}}</a>	
	  			    </div>
	  		            <div ng-switch-default>
	  				{{object.title}}
	  		            </div>
	  		     </div>
	  	       </td>
		       <td>
		            <a href="/uwmetadata_editor/{{object.pid}}"><i class="glyphicon glyphicon-pencil"></i></a>
		       </td>
		 </tr>	