
<div class="modal">
	<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title"><span class="glyphicon glyphicon-trash"></span> Confirm delete</h4>					
				</div>
				<div class="modal-body">O RLY?</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" ng-click="cancel()">NO WAI!!</button>
					<button type="button" class="btn btn-primary" ng-click="ok()">YA RLY</button>
				</div>
			</div>
	</div>
</div>