<alert ng-repeat="alert in alerts track by $index" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>

<div bindonce class="container">
	<nav id="control-panel" class="navbar navbar-default">
		<div ng-if="init.owner == init.current_user.username" class="navbar-form">			             
		          <!--form.$invalid:{{form.$invalid}} form_disabled{{form_disabled}}-->
		          <!-- <button ng-disabled="form.$invalid || form_disabled" data-ng-click="saveRights()" class="btn btn-success navbar-btn"><span class="glyphicon glyphicon-save"></span> Save Rights to {{pid}}</button> --> 
		          <button ng-disabled="form_disabled" data-ng-click="saveRights()" class="btn btn-success navbar-btn navbar-right"><span class="glyphicon glyphicon-save"></span> Save Rights to {{pid}}</button>									   
	        </div>	
	</nav>

<div>

</br></hr>   
  <form name="form" class="form-horizontal" novalidate role="form">
                <div>
                                <label>RESTRICT ACCESS RIGHTS TO PARTICULAR PERSONS:</label>
                </div>
                
                <div class="well rights-min-height-70">
                          
                           Selected Users:
                           <div class="well form-group">
                                     
                                     <div data-ng-repeat="rights_username in rights_username_array track by $index" >
                                              <div class="rights-users"  ng-if="rights_username_array.length > '0'" class="input-group-btn ng-scope">
	                                               <li class='rights-users'>
	                                                          <label class="rights-user-label"> {{rights_username.id}} <span class="rights-smal">{{rights_username.value}}<span></label>
	                                                           <button  class="btn btn-default" ng-click="deleteUser($index)"><span class="glyphicon glyphicon-minus"></span></button>
	                                               </li>
	                                      </div>
                                    </div>
                           </div>
        
        	    	   <div class="input-group full-max-width">
                                   <input ng-model="rightsQuery" type="input" > 
                                   <button  class="btn btn-default" ng-click="getUsers(rightsQuery)"><span class="glyphicon glyphicon-search"></span></button>
                           </div>
                           
                    	   <select ng-model="RUser" class="form-control full-max-width">
	        	           <option value="">-- please choose --</option>
	        	           <!--<option value="{{initdata.current_user.username}}">{{initdata.current_user.username}}</option>-->
	        	        
	        	           <option data-ng-repeat="queryUser in queryUsers" value="{{queryUser}}">{{queryUser.value}},   {{queryUser.uid}}</option>
	                   </select>
	
	                   <div class="input-group">
	                                   <label >End of validity</label >
	                                   <input type="date" class="form-control" datepicker-popup ng-model="rights_date_end" is-open_end="opened" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
	                   </div>
	          
	                  
                          
                                     <button ng-click="addNewUser(RUser, rights_date_end)" class="btn btn-default right margin-top-35"><span class="glyphicon glyphicon-plus"></span></button>
                         
              </div>
        
        
              <div>
                         <label>RESTRICT ACCESS RIGHTS TO ORGANISATIONAL UNTITS/SUBUNITS:</label>
              </div>
  
              <div class="well rights-min-height-70">
                                               <div class="pull-right rights-add-button">
                                                    <button ng-click="addNewFaculty()" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span></button>
                                               </div>
                                               <div data-ng-repeat="faculties2 in faculties_array track by $index" class="well  form-group">
                                                       <div>    
                                                               <label >Faculty </label >
                                                               <div class="input-group full-max-width">
	    	                                                             <select class="form-control full-max-width" ng-model="faculties2.faculty" ng-options="option.uri as option.labels.en for option in faculties.vocabularies.0.terms" ng-required="{{faculties.mandatory}}" placeholder="-- please choose --" phaidra-help phaidra-help-id="{{faculties.help_id}}" tooltip-placement="left" tooltip-popup-delay='1500' tooltip-html-unsafe='{{default_helptext}}'>
	        	                                                                   <option value="">-- please choose --</option>
	                                                                     </select>
	                                                                     <!--<div ng-if="faculties_array.length > '1'"  class="input-group-btn ng-scope">-->
	                                                                     <div  class="input-group-btn ng-scope">
		    	                                                                    <button  class="btn btn-default" ng-click="deleteFaculty($index)"><span class="glyphicon glyphicon-minus"></span></button>
		                                                             </div>
		                                               </div>
	                                               </div> 
	                                               <div >  
	                                                        <label >Institute </label >
	                                                        <div class="input-group full-max-width">
	                                                                 <select class="form-control full-max-width" ng-model="faculties2.selectedDepartment" ng-options="option.uri as option.labels.en for option in faculties2.departments" ng-required="{{faculties.mandatory}}" placeholder="-- please choose --" phaidra-help phaidra-help-id="{{faculties.help_id}}" tooltip-placement="left" tooltip-popup-delay='1500' tooltip-html-unsafe='{{default_helptext}}'>
	         	                                                             <option value="">-- please choose --</option>
	                                                                 </select>
		                                                </div>        
	                                               </div>
	                                               <div class="input-group navbar-left">
	                                                         <label >End of validity</label >
	                                                         <input type="date" class="form-control" datepicker-popup ng-model="faculties2.dt_end" is-open_end="opened" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
	                                               </div>
	                                      </div>
	      </div>
	  
  </form>